In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('C:/Users/acesi/OneDrive/Desktop/Excel_files/Sample - Superstore.xlsx')

c:\Users\acesi\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [3]:
df.head()

,Order ID,Order Date,Ship Date,Customer ID,Customer Name,Country/Region,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,CA-2018-152156,2018-11-08,2018-11-11,CG-12520,Claire Gute,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,CA-2018-152156,2018-11-08,2018-11-11,CG-12520,Claire Gute,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,731.9400,3,0.00,219.5820
2,CA-2018-138688,2018-06-12,2018-06-16,DV-13045,Darrin Van Huff,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,US-2017-108966,2017-10-11,2017-10-18,SO-20335,Sean O'Donnell,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,957.5775,5,0.45,-383.0310
4,US-2017-108966,2017-10-11,2017-10-18,SO-20335,Sean O'Donnell,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        10 non-null     object
 1   Order Date      10 non-null     datetime64[ns]
 2   Ship Date       10 non-null     datetime64[ns]
 3   Customer ID     10 non-null     object
 4   Customer Name   10 non-null     object
 5   Country/Region  10 non-null     object
 6   City            10 non-null     object
 7   State           10 non-null     object
 8   Postal Code     10 non-null     int64
 9   Region          10 non-null     object
 10  Product ID      10 non-null     object
 11  Category        10 non-null     object
 12  Sub-Category    10 non-null     object
 13  Sales           10 non-null     float64
 14  Quantity        10 non-null     int64
 15  Discount        10 non-null     float64
 16  Profit          10 non-null     float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(10)
memory usage: 1.5+ KB

In [7]:
df['Sales'].dtypes

dtype('float64')

In [8]:
df['Sales'].convert_dtypes()

0      261.96
1      731.94
2       14.62
3    957.5775
4      22.368
5       48.86
6        7.28
7     907.152
8      18.504
9       114.9
Name: Sales, dtype: Float64

In [9]:
df['Sales'].dtype

dtype('float64')

In [10]:
df.convert_dtypes()

,Order ID,Order Date,Ship Date,Customer ID,Customer Name,Country/Region,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,CA-2018-152156,2018-11-08,2018-11-11,CG-12520,Claire Gute,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,261.96,2,0.0,41.9136
1,CA-2018-152156,2018-11-08,2018-11-11,CG-12520,Claire Gute,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,731.94,3,0.0,219.582
2,CA-2018-138688,2018-06-12,2018-06-16,DV-13045,Darrin Van Huff,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,14.62,2,0.0,6.8714
3,US-2017-108966,2017-10-11,2017-10-18,SO-20335,Sean O'Donnell,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,957.5775,5,0.45,-383.031
4,US-2017-108966,2017-10-11,2017-10-18,SO-20335,Sean O'Donnell,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,22.368,2,0.2,2.5164
5,CA-2016-115812,2016-06-09,2016-06-14,BH-11710,Brosina Hoffman,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,48.86,7,0.0,14.1694
6,CA-2016-115812,2016-06-09,2016-06-14,BH-11710,Brosina Hoffman,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,7.28,4,0.0,1.9656
7,CA-2016-115812,2016-06-09,2016-06-14,BH-11710,Brosina Hoffman,United States,Los Angeles,California,90032,West,TEC-PH-10002275,Technology,Phones,907.152,6,0.2,90.7152
8,CA-2016-115812,2016-06-09,2016-06-14,BH-11710,Brosina Hoffman,United States,Los Angeles,California,90032,West,OFF-BI-10003910,Office Supplies,Binders,18.504,3,0.2,5.7825
9,CA-2016-115812,2016-06-09,2016-06-14,BH-11710,Brosina Hoffman,United States,Los Angeles,California,90032,West,OFF-AP-10002892,Office Supplies,Appliances,114.9,5,0.0,34.47

In [12]:
df.dtypes

Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Customer ID               object
Customer Name             object
Country/Region            object
City                      object
State                     object
Postal Code                int64
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
dtype: object

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        10 non-null     object
 1   Order Date      10 non-null     datetime64[ns]
 2   Ship Date       10 non-null     datetime64[ns]
 3   Customer ID     10 non-null     object
 4   Customer Name   10 non-null     object
 5   Country/Region  10 non-null     object
 6   City            10 non-null     object
 7   State           10 non-null     object
 8   Postal Code     10 non-null     int64
 9   Region          10 non-null     object
 10  Product ID      10 non-null     object
 11  Category        10 non-null     object
 12  Sub-Category    10 non-null     object
 13  Sales           10 non-null     float64
 14  Quantity        10 non-null     int64
 15  Discount        10 non-null     float64
 16  Profit          10 non-null     float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(10)
memory usage: 1.5+ KB

In [29]:
if df['Category'].dtypes == 'object' :
    print('True')
else:
    print(False)

True

In [21]:
print(is ( df['Sales'].dtypes  ))

TypeError: isinstance expected 2 arguments, got 1

In [25]:
print(df['Sales'].dtypes)

float64